html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.space{
	margin:10% 0;
}

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  background:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497594108&di=58e91978b837f3c2e07028cae6ab9ab3&imgtype=jpg&er=1&src=http%3A%2F%2Fpic.90sjimg.com%2Fback_pic%2Fqk%2Fback_origin_pic%2F00%2F03%2F37%2F6421979db68be3c51a689f2aed2d00b1.jpg) no-repeat fixed;
  color:#fff;
  text-shadow:0px 0px 3px #000;  
}

#location-wrapper {
  width: 100%;
  height: 33%;
  padding: 30px 30px 0 200px;
  opacity: 0.85;
}


#location-wrapper h1 {
  margin: 6px 0 0 0;
  font-size: 50px;
}

#location-wrapper h3 {
  margin: 0;
  font-size:16px;
}

#data-wrapper {
	width: 100%;
	height: auto;
	opacity: 0.85;
	font-size: 16px;
	padding:0 40px 10px 150px;
}

#temperature {
    font-size: 100px;
    margin-left: 10px;
}

#degreeSymbol {
    position: relative;
    font-size: 20px;
    top: -24px;
}

#icons {
    height: 80px;
    width: 80px;
    position: relative;
    top: -22px;
}

#conditions {
    font-size: 25px;
}

#unit {
  margin-top: 30px;
  margin-left: 0;
}

.or:before{
  text-align:center;
  content:"or";
}

#ctemp,#ftemp{
  border:0px;
  font-size:20px;
  background-color:#A4A4A4;
  width:160px;
  height:50px;
  color:#000;
  text-transform:uppercase;
  cursor:pointer;
}

#ctemp{
  border-radius:0 10px 10px 0;
  z-index:2;
  position:relative;
  left:165px;
  top:-85px;
}

#ftemp{
  border-radius: 10px 0 0 10px;
}


#unit{
	background:#2E2E2E;
	width:200px;
	height:50px;
	border-radius:20px;
	position:relative;
	left:30%;
	top:200px;
}



.or{
  z-index:3000;
  padding:5px;
  padding-top:0px;
  width:25px;
  height:25px;
  border-radius:50%;
  background:#fff;
  color:#2E2E2E;
  margin-top:10px;
  margin-left:-5px;
  font-size:16px;
  position:relative;
  left:155px;
  top:-48px;
}

#ctemp:active, #ftemp:active{
  background:red;
  color:#fff;
  text-decoration:none;
  border:none;
}

#ctemp:visited, #ftemp:visited{
  background:red;
  color:#fff;
  text-decoration:none;
  border:none;
}

#ftemp:hover, #ctemp:hover{
  background-color:#6E6E6E;
}


@media screen and (max-width: 990px) {


	.pos{
		width:50%;
		height:auto;
		float:left;
	}

    #location-wrapper {
		font-size:50px;
		width:50%;
		margin:0;
		padding:30px 0 0 60px;
    }


    #data-wrapper {
      font-size: 16px;
	  width:50%;
	  padding:0 0 0 30px;
	  margin:30px 0 0 80px;
    }

    #temperature {
        font-size: 50px;
    }

    #degreeSymbol {
        position: relative;
        font-size: 1.6em;
        top: -14px;
    }

    #icons {
        height: 50px;
        width: 50px;
		position:relative;
		top:5px;
    }

    #font-size-wrapper {
        font-size: 0.8em;
    }

    #unit {
        margin-top: 10px;
		margin-left:30px;
		position:relative;
		left:-30px;
    }

}

@media screen and (max-width: 600px) {
	
	.sml{
		min-width:100%;
		height:auto;
		float:none;
	}


    #main-wrapper {
        min-width: 100%;
        height: auto;
		float:none;
    }

    #location-wrapper {
        margin: 10px 20px 0 16px;
    }

    #data-wrapper {
		min-width:100%;
        margin: 10px 10px 20px 16px;
		padding-left:60px;
		padding-right:0;
		margin-right:30px;
    }
	
	#unit{
		position:relative;
		top:430px;
		margin-left:60px;
	}
}
